name: "Chromatic Staging"

on:
  push:
  pull_request:
  merge_group:
    types: [checks_requested]

jobs:
  merge_queue_force_failure:
    if: ${{ github.event.merge_group }}
    runs-on: ubuntu-latest
    steps:
      - name: fail
        run: exit 1
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Output git info
        run: |
          if [ -n "${{ github.event.merge_group }}" ]; then
            echo "Merge queue head_sha: ${{ github.event.merge_group.head_sha }}"
            echo "Merge queue head_ref: ${{ github.event.merge_group.head_ref }}"
            echo "Merge queue base_sha: ${{ github.event.merge_group.base_sha }}"
            echo "Merge queue base_ref: ${{ github.event.merge_group.base_ref }}"
            echo "Merge queue head_commit id: ${{ github.event.merge_group.head_commit.id }}"
            echo "Merge queue head_commit tree_id: ${{ github.event.merge_group.head_commit.tree_id }}"
          fi
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 22.20.0
      - name: Install dependencies
        run: yarn install
      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_STAGING_PROJECT_TOKEN }}
          debug: true
        env:
          CHROMATIC_INDEX_URL: https://index.staging-chromatic.com
